# Copy to secrets.yaml and fill in. secrets.yaml is gitignored.

# Your Wi-Fi SSID and password
wifi_ssid: ""
wifi_password: ""
niot_ssid: ""
niot_password: ""
ota_password: ""

# per-device api encryption keys / ota passwords
aqi1__encryption_key: ""
aqi1__ota_password: ""
aqi2__encryption_key: ""
aqi2__ota_password: ""
dimmer1__encryption_key: ""
dimmer1__ota_password: ""
dimmer10__encryption_key: ""
dimmer10__ota_password: ""
dimmer2__encryption_key: ""
dimmer2__ota_password: ""
dimmer21__encryption_key: ""
dimmer21__ota_password: ""
dimmer22__encryption_key: ""
dimmer22__ota_password: ""
dimmer23__encryption_key: ""
dimmer23__ota_password: ""
dimmer24__encryption_key: ""
dimmer24__ota_password: ""
dimmer25__encryption_key: ""
dimmer25__ota_password: ""
dimmer26__encryption_key: ""
dimmer26__ota_password: ""
dimmer27__encryption_key: ""
dimmer27__ota_password: ""
dimmer28__encryption_key: ""
dimmer28__ota_password: ""
dimmer29__encryption_key: ""
dimmer29__ota_password: ""
dimmer3__encryption_key: ""
dimmer3__ota_password: ""
dimmer30__encryption_key: ""
dimmer30__ota_password: ""
dimmer4__encryption_key: ""
dimmer4__ota_password: ""
dimmer5__encryption_key: ""
dimmer5__ota_password: ""
dimmer6__encryption_key: ""
dimmer6__ota_password: ""
dimmer7__encryption_key: ""
dimmer7__ota_password: ""
dimmer8__encryption_key: ""
dimmer8__ota_password: ""
dimmer9__encryption_key: ""
dimmer9__ota_password: ""
emporiavue2__encryption_key: ""
emporiavue2__ota_password: ""
humi1__encryption_key: ""
humi1__ota_password: ""
hvac1__encryption_key: ""
hvac1__ota_password: ""
ir1__encryption_key: ""
ir1__ota_password: ""
ir2__encryption_key: ""
ir2__ota_password: ""
ir3__encryption_key: ""
ir3__ota_password: ""
led1__encryption_key: ""
led1__ota_password: ""
led2__encryption_key: ""
led2__ota_password: ""
outplug1__encryption_key: ""
outplug1__ota_password: ""
outplug2__encryption_key: ""
outplug2__ota_password: ""
outplug3__encryption_key: ""
outplug3__ota_password: ""
plug10__encryption_key: ""
plug10__ota_password: ""
plug11__encryption_key: ""
plug11__ota_password: ""
plug12__encryption_key: ""
plug12__ota_password: ""
plug21__encryption_key: ""
plug21__ota_password: ""
plug22__encryption_key: ""
plug22__ota_password: ""
plug23__encryption_key: ""
plug23__ota_password: ""
plug24__encryption_key: ""
plug24__ota_password: ""
plug8__encryption_key: ""
plug8__ota_password: ""
plug8__ap_password: ""
plug9__encryption_key: ""
plug9__ota_password: ""
ratgdov25i__encryption_key: ""
ratgdov25i__ota_password: ""
